<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>CV-Creator</title>
</head>

<body>
    {{ body | safe }}
    {{ latex | safe }}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var collapsibles = document.getElementsByClassName("CollapseHeader");
            for (i = 0; i < collapsibles.length; i++) {
                var storage_name = "collapse_" + $(collapsibles[i]).attr("href");
                console.log(i + "   " + storage_name)
                $(collapsibles[i]).click(function (e) {
                    var storage_name = "collapse_" + $(this).attr("href");
                    var clicked = localStorage.getItem(storage_name);
                    console.log("clicked " + storage_name)
                    if (clicked) {
                        localStorage.removeItem(storage_name);
                    } else {
                        localStorage.setItem(storage_name, $(this).attr("href"));
                    }
                });
                var item = localStorage.getItem(storage_name);
                console.log("item : " + item);
                if (item) {
                    $(item).collapse("show");
                }
            }

            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);

        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
        $(document).ready(function () {




        })
    </script>


</body>

</html>